/* Youth Ministry styling (youth.html) */
.bible-quiz-article {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.bible-quiz-article ol{
  margin-top: 2px;
  margin-bottom: 10px;
}

.bible-quiz-article p {
  font-weight: bold;
  margin-top: 15px;
}

/* Home page styling (index.html) */
.about-section {
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.about-section h2 {
  margin-bottom: 10px;
  font-size: 40px;
}

.about-section h3 {
  margin-bottom: 6px;
  font-size: 30px;
}

.about-section p {
  margin-bottom: 50px;
  font-size: 20px;
}