:root {
  --background-color: rgb(245, 245, 245);
  --text-color: rgb(26, 26, 26);
}

/* Reset default browser margins and padding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Basic typography */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}
